#app
  h1 呼叫v-on呼叫/ method寫function建立js事件
  button(v-on:click="add('pen')").adbtn 新增筆
  button(v-on:click="add('pineapple')").adbtn 新增鳳梨
  button(v-on:click="add('apple')").adbtn 新增蘋果
  h5 狀態：{{status}}
  h5(v-if="fruits.length>0") 列表：共有{{fruits.length}}項資料，有{{all.pen}}隻筆，{{all.pineapple}}顆鳳梨，{{all.apple}}顆蘋果
  
  .fruit(v-for="(id,fruit) in fruits" track-by='$index')
    .name {{id+1}} {{fruit}}
    img(v-if="fruit=='pen'" src="https://image.flaticon.com/icons/png/512/233/233838.png")
    img(v-if="fruit=='apple'" src="https://image.flaticon.com/icons/svg/533/533902.svg", alt="")
    img(v-if="fruit=='pineapple'" src="https://image.flaticon.com/icons/svg/184/184527.svg")
    button(v-on:click="remove(id,fruit)") X
    